Импортируем библиотеки

In [1]:
import pandas as pd
import numpy as np

Загрузим датасет

In [2]:
df = pd.read_csv("4liver.csv")

Выведем первые 20 строк при помощи метода head()

In [3]:
df.head(20)

,Age,Gender,TotalBilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset123
0,65,Female,0.7,0.1,187.0,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699.0,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490.0,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182.0,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195.0,27,59,7.3,2.4,0.40,1
5,46,Male,1.8,0.7,208.0,19,14,7.6,4.4,1.30,1
6,26,Female,0.9,0.2,154.0,16,12,7.0,3.5,1.00,1
7,29,Female,0.9,0.3,202.0,14,11,6.7,3.6,1.10,1
8,17,Male,0.9,0.3,202.0,22,19,7.4,4.1,1.20,2
9,55,Male,0.7,0.2,290.0,53,58,6.8,3.4,1.00,1
10,57,Male,0.6,0.1,210.0,51,59,5.9,2.7,0.80,1
11,72,Male,2.7,1.3,260.0,31,56,7.4,3.0,0.60,1
12,64,Male,0.9,0.3,310.0,61,58,7.0,3.4,0.90,2
13,74,Female,1.1,0.4,214.0,22,30,8.1,4.1,1.00,1
14,61,Male,0.7,0.2,145.0,53,41,5.8,2.7,0.87,1
15,25,Male,0.6,0.1,183.0,91,53,5.5,2.3,0.70,2
16,38,Male,1.8,0.8,342.0,168,441,7.6,4.4,1.30,1
17,33,Male,1.6,0.5,165.0,15,23,7.3,3.5,0.92,2
18,40,Female,0.9,0.3,293.0,232,245,6.8,3.1,0.80,1
19,40,Female,0.9,0.3,293.0,232,245,6.8,3.1,0.80,1

Мы будем оценивать данные, используя метод info()

In [4]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587 entries, 0 to 586
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         587 non-null    int64
 1   Gender                      587 non-null    object
 2   TotalBilirubin              585 non-null    float64
 3   Direct_Bilirubin            587 non-null    float64
 4   Alkaline_Phosphotase        586 non-null    float64
 5   Alamine_Aminotransferase    587 non-null    int64
 6   Aspartate_Aminotransferase  587 non-null    object
 7   Total_Protiens              587 non-null    float64
 8   Albumin                     587 non-null    float64
 9   Albumin_and_Globulin_Ratio  583 non-null    float64
 10  Dataset123                  587 non-null    object
dtypes: float64(6), int64(2), object(3)
memory usage: 139.3 KB

Были выявлены следующие проблемы с именами:
 - Общий билирубин не записан в змеином регистре
 - Dataset123 не отражает суть того, что хранится в колонке

In [5]:
df = df.rename(columns={
    "TotalBilirubin": "Total_Bilirubin",
    "Dataset123": "Disease"
})

Проверим наличие пропусков в датасете

In [6]:
df.isna().sum()

Age                           0
Gender                        0
Total_Bilirubin               2
Direct_Bilirubin              0
Alkaline_Phosphotase          1
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Disease                       0
dtype: int64

Для того чтобы устранить пропуски изучили модель данных и решили следующее:
 - Вместо Nan значений подставить среднее значение каждого из столбцов

In [7]:
df["Total_Bilirubin"] = df["Total_Bilirubin"].fillna(df["Total_Bilirubin"].mean())
df["Alkaline_Phosphotase"] = df["Alkaline_Phosphotase"].fillna(df["Alkaline_Phosphotase"].mean())
df["Albumin_and_Globulin_Ratio"] = df["Albumin_and_Globulin_Ratio"].fillna(df["Albumin_and_Globulin_Ratio"].mean())

In [8]:
df.isna().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Disease                       0
dtype: int64

Проверим данные на наличие дубликатов и в случае, если они присутствуют - удалим и обновим индексацию

In [9]:
df.duplicated().sum()

15

In [10]:
df = df.drop_duplicates().reset_index()

In [11]:
df.duplicated().sum()

0

Теперь займемся поиском неявных дубликатов. Для этого посмотрим на уникальные значения некоторых столбцов

1. В столбце "Пол" удалось обнаружить некорректное наименование пола

In [12]:
df["Gender"].unique()

array(['Female', 'Male', 'Mal'], dtype=object)

2. В столбце "Болезни" обнаружилось значение "yes", не отражающее наличие болезни

In [13]:
df["Disease"].unique()

array(['1', '2', 'yes'], dtype=object)

3. В столбце "Аспартатаминотрансфераза" обнаружили некорректное значение "3а4"

In [14]:
df["Aspartate_Aminotransferase"].unique()

array(['18', '100', '68', '20', '59', '14', '12', '11', '19', '58', '56',
       '30', '41', '53', '441', '23', '245', '28', '34', '66', '55', '45',
       '731', '850', '21', '111', '44', '57', '80', '36', '77', '73',
       '50', '110', '47', '576', '15', '178', '27', '960', '406', '150',
       '61', '54', '24', '16', '43', '97', '86', '88', '95', '26', '17',
       '397', '29', '22', '127', '79', '142', '152', '31', '3a4', '350',
       '794', '400', '202', '630', '950', '161', '405', '92', '39', '10',
       '116', '98', '285', '64', '149', '2946', '1600', '1050', '275',
       '113', '84', '25', '40', '83', '65', '4929', '90', '140', '139',
       '87', '38', '42', '233', '138', '82', '35', '32', '187', '62',
       '74', '67', '37', '602', '63', '99', '103', '145', '247', '114',
       '104', '51', '60', '1500', '33', '180', '148', '46', '13', '85',
       '231', '156', '89', '298', '48', '130', '75', '500', '105', '250',
       '232', '143', '176', '70', '52', '91', '236', '108', '190', '71',
       '126', '141', '102', '81', '511', '72', '135', '497', '844', '368',
       '188', '248', '401', '76', '221', '235', '185', '230', '540',
       '181', '155', '200', '186', '623', '220', '78', '348', '125',
       '330', '562', '384', '367', '101', '168', '134', '49'],
      dtype=object)

In [15]:
df["Gender"] = df["Gender"].replace("Mal", "Male")
df["Disease"] = df["Disease"].replace("yes", "1")
df["Aspartate_Aminotransferase"] = df["Aspartate_Aminotransferase"].replace("3a4", "34")

Проверили все ли типы данных соответствуют действительности для этого воспользовались функцией dtypes

In [16]:
df.dtypes

index                           int64
Age                             int64
Gender                         object
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase          float64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase     object
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Disease                        object
dtype: object

Сверив типы, можно увидеть некоторые несоответствия в столбцах:
- gender
- Aspartate_Aminotransferase
- disease

In [17]:
df[["Aspartate_Aminotransferase"]] = df[["Aspartate_Aminotransferase"]].astype(np.int64)
df[["Disease"]] = df[["Disease"]].astype(np.int64)
df[["Gender"]] = df[["Gender"]].astype("string")

In [18]:
df.dtypes

index                           int64
Age                             int64
Gender                         string
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase          float64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Disease                         int64
dtype: object

Создали сводные таблицы с помощью pivot_table, которые показывают:
- Средний билирубин для каждого пола
- Средний показатель для двух групп (тех, кто болеет и тот, кто не болеет)

In [19]:
data_pivot = pd.pivot_table(
    df,
    index="Age",
    columns="Gender",
    values="Total_Bilirubin",
    aggfunc=np.average
)
data_pivot

Gender  Female    Male
Age
4          NaN  0.850000
6          NaN  0.600000
7         27.2  0.500000
8          0.9       NaN
10         0.8       NaN
..         ...       ...
75         0.8  4.516667
78         NaN  1.000000
84         0.7       NaN
85         1.0       NaN
90         NaN  1.100000

[72 rows x 2 columns]

In [20]:
data_pivot = pd.pivot_table(
    df,
    index="Disease",
    columns="Gender",
    values="Total_Bilirubin",
    aggfunc=np.average
)
data_pivot

Gender     Female    Male
Disease
1        3.116484  4.518623
2        0.871429  1.230043

## Дополнительное задание
Добавить новый столбец, в котором содержались бы категории возраста (ребенок, взрослый, пенсионер) после чего построить новую сводную таблицу

In [21]:
df = df.assign(
    status= lambda x: x["Age"].apply(lambda y: "Ребенок" if y < 18 else("Взрослый" if y < 60 else "Пенсионер"))
)

In [22]:
df.head(20)

,index,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Disease,status
0,0,65,Female,0.7,0.1,187.0,16,18,6.8,3.3,0.90,1,Пенсионер
1,1,62,Male,10.9,5.5,699.0,64,100,7.5,3.2,0.74,1,Пенсионер
2,2,62,Male,7.3,4.1,490.0,60,68,7.0,3.3,0.89,1,Пенсионер
3,3,58,Male,1.0,0.4,182.0,14,20,6.8,3.4,1.00,1,Взрослый
4,4,72,Male,3.9,2.0,195.0,27,59,7.3,2.4,0.40,1,Пенсионер
5,5,46,Male,1.8,0.7,208.0,19,14,7.6,4.4,1.30,1,Взрослый
6,6,26,Female,0.9,0.2,154.0,16,12,7.0,3.5,1.00,1,Взрослый
7,7,29,Female,0.9,0.3,202.0,14,11,6.7,3.6,1.10,1,Взрослый
8,8,17,Male,0.9,0.3,202.0,22,19,7.4,4.1,1.20,2,Ребенок
9,9,55,Male,0.7,0.2,290.0,53,58,6.8,3.4,1.00,1,Взрослый
10,10,57,Male,0.6,0.1,210.0,51,59,5.9,2.7,0.80,1,Взрослый
11,11,72,Male,2.7,1.3,260.0,31,56,7.4,3.0,0.60,1,Пенсионер
12,12,64,Male,0.9,0.3,310.0,61,58,7.0,3.4,0.90,2,Пенсионер
13,13,74,Female,1.1,0.4,214.0,22,30,8.1,4.1,1.00,1,Пенсионер
14,14,61,Male,0.7,0.2,145.0,53,41,5.8,2.7,0.87,1,Пенсионер
15,15,25,Male,0.6,0.1,183.0,91,53,5.5,2.3,0.70,2,Взрослый
16,16,38,Male,1.8,0.8,342.0,168,441,7.6,4.4,1.30,1,Взрослый
17,17,33,Male,1.6,0.5,165.0,15,23,7.3,3.5,0.92,2,Взрослый
18,18,40,Female,0.9,0.3,293.0,232,245,6.8,3.1,0.80,1,Взрослый
19,20,51,Male,2.2,1.0,610.0,17,28,7.3,2.6,0.55,1,Взрослый

Сводная таблица будет отображать средний билирубин у каждой из категории по возрасту

In [23]:
data_pivot = pd.pivot_table(
    df,
    index="status",
    columns="Gender",
    values="Total_Bilirubin",
    aggfunc=np.average
)
data_pivot

Gender       Female    Male
status
Взрослый   2.413274  3.839304
Пенсионер  1.105000  3.454464
Ребенок    4.500000  1.344444